.face {
  width: 100px;
  height: 100px;
  margin: 0 10px;
  border-radius: 100px;
  text-align: center;
  color: white;

  &-initial {
    font-size: 16px;
    line-height: 100px;
    font-weight: bold;
  }
}
