@import '../../vars';


.payerToggle {
  color: $c-grey;
  overflow: hidden;
  width: 100vw;


  &-inner {
    text-align: center;

    span {
      display: inline-block;
      margin: 0;
      height: 1em;
      transition: all $t-short $t-easing;
    }

    .payerToggle-name {
      font-weight: 600;
      padding: 0 0.2em;
    }

    .hidden {
      opacity: 0;

      &.payerToggle-get {
        margin-left: -7em;
      }
      &.payerToggle-give {
        margin-right: -7em;
      }
    }

  }
}
