@import '../../vars';

.displayValue{
  width: 100vw;
  text-align: center;
  font-size: 2.5em;

  &::after{
    content: "€";
    font-size: .4em;
    vertical-align: top;
    padding-top: 1em;
    color: $c-grey;
    font-weight: 400;
  }
}
