@import '../../vars';

.borrowerInfo {
  color: $c-grey;
  overflow: hidden;
  text-align: center;

  span {
    display: inline-block;
    margin: 0;
    height: 1em;
    transition: all $t-short $t-easing;
  }

  .borrowerInfo-name {
    font-weight: 600;
    padding: 0 0.2em;
  }

  .hidden {
    opacity: 0;

    &.borrowerInfo-get {
      margin-left: -7em;
    }
    &.borrowerInfo-give {
      margin-right: -7em;
    }
  }

}
