.keyboard {
    width: 100vw;
    color: #fff;
    text-align: center;
    padding: 30px 0;
    transform: translate3d(0,100%,0);
    transition: transform 0.5s;


    &.open {
        transform: translate3d(0,0,0);
    }

    &-numpad {
        width: 80%;
        margin: 0 auto;
        padding: 15px 0;
        font-size: 30px;


        div {
            width: 33.3%;
            padding: 10px 0;
            float: left;
            cursor: pointer;

            &.keyboard-numpad-delete {
                opacity: 0.5;
            }
        }

        &:after {
            content:'';
            display: block;
            clear: both;
        }
    }
    &-save {
        padding: 15px 0;
        cursor: pointer;
    }
}
