@import './normalize';
@import './vars';


body {
  font-family: $f-primary;
  font-weight: 200;
  margin: 0;
  padding: 0;
}

.b-1{
  background-color: $c-1;
}

.b-2{
  background-color: $c-2;
}

.b-3{
  background-color: $c-3;
}

.c-1 {
  color: $c-1;
}

.c-2 {
  color: $c-2;
}

.c-3 {
  color: $c-3;
}

.snapScrolling {
  position: absolute;
  top:0;
  width: 100vw;
  height: 100vh;
  overflow-y:auto;
  overflow-x: hidden;

  -webkit-overflow-scrolling: touch;

  -webkit-scroll-snap-points-y: repeat(100%);
  -webkit-scroll-snap-type: mandatory;
  -webkit-scroll-snap-destination: 100% 0%;

}
