@import url('https://fast.fonts.net/cssapi/08d59f66-e4c5-4881-b50e-719c055575ea.css');

/***************************
 ********* COLORS **********
 ***************************/

// App Colors
$c-primary: #333;
$c-grey: #A3A3A3;

// Faces Colors
$c-1: #E9435C; // red
$c-2: #904DE9; // purple
$c-3: #4381E9; // blue

/***************************
 ******* TYPOGRAHPY ********
 ***************************/

// Primary Font Stack
$f-primary: 'DIN Next W01';

// Secondary Font Stack
$f-secondry: 'Comic Sans';


/***************************
 ******* TRANSITIONS *******
 ***************************/

// Easing Curve
$t-easing: cubic-bezier(0.645, 0.045, 0.355, 1);

// Transtions
$t-long: 800ms;
$t-medium: 400ms;
$t-short: 200ms;

/***************************
 ********* MARGINS *********
 ***************************/
