@import '../../vars';

.contactList {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 30vh;
  background: #eee;

  .face {
    &:first-child {background: $c-1}
    &:nth-child(2) {background: $c-2}
  }
}
